// Recipe
.recipe {
  &__details {
    display: flex;
    align-items: center;
  }

  &__info {
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  &__info-icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $color-primary;
    margin-right: 0.5rem;
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    list-style: none;
  }

  &__ingredient {
    display: flex;
  }

  &__icon {
    height: 1.4rem;
    width: 1.4rem;
    fill: $color-primary;
    margin-right: 0.8rem;
    flex: 0 0 auto;
  }

  &__quantity {
    margin-right: 0.3rem;
  }
}

.main-img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: 0.5rem solid rgba(250, 175, 175, 0.6);
}

@media only screen and (max-width: 1100px) {
  .main-img {
    position: static;
    transform: translate(0);
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
  }
}
